{% extends 'template.html' %}

{% block title %}homework{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="../sheets/css/index.css">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core-with-shadowdom.js"></script>
<script type="text/javascript" src="../pages/tags.js"></script>
<script type="text/javascript" src="../pages/add.js"></script>
{%endblock%}
 {% block content %}

 <x-praise></x-praise>
  

{% endblock %}	
